body{
  font-family: 'Poppins',sans-serif;
   background-color: #73a7e6;
   
}
h1{
  font-size: 28px;
  color: #1a385d;
  text-align: center;
  font-family: 'Poppins',sans-serif;
  padding-top: 0;
  text-shadow:0px 0px 5px #fff;
}
form {
  font-family: 'Poppins',sans-serif;
  padding-top: 0;
   width: 600px;
    margin: 0 auto;
  }
  
  div {
    margin: 10px 0;
   }

   .btn {
    display: block;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    
  }
  
   .card{
    background-color: #dfeeff;
    font-family: 'Poppins',sans-serif;
    width: 60%;
    border-collapse: collapse;
    margin: auto;
    
   }
   .a{
    background-color: #ffffff;
    border-collapse: collapse;
   
    
   }
 
   @media only screen and (max-width: 330px) {
    .Card, .a, .b, .buttons, .menu, .menu li, .menu li a {
        width: 250px;
    }
}
  
  label {
    display: inline-block;
    width: 220px;
    height: 25px;
    font-weight: bold;
    background-color: #e8f1fc;

  }
 
  button {
    width: 200px;
    margin: 0 auto;
    background-color: #085c94;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background .3;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    
  }
  button:hover {
    background-color: #769ebd;
  }
  button:active {
    background-color: #2e6596;
  }
  
  .menu{
    font-family: 'Poppins',sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    list-style:none;
    border:1px solid #c0c0c0;
    float:center;
    transform: translateY(-40%);
    position: relative;
    font-size:15px;
    color:#336699;
  }
.menu li{
    position:relative;
    float:left;
   }
.menu li a{color:#111053;
    text-decoration:none;
    padding:20px 50px;
    display:block;
}
.nav-container {
  width: 100%;
  overflow: hidden;
  margin: 2.95% auto;
}
.menu li a:hover{
background:#111053;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}

  
    